ESPOSITOPASQUALE_CLIENT_WS/xml-resources/web-service-references/ViaggioEJB/wsdl/localhost_8080/ViaggioEJBService/ViaggioEJB.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://viaggiobean/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://viaggiobean/" name="ViaggioEJBService">
<types>
<xsd:schema>
<xsd:import namespace="http://viaggiobean/" schemaLocation="http://localhost:8080/ViaggioEJBService/ViaggioEJB?xsd=1"/>
</xsd:schema>
</types>
<message name="aggiornaViaggio">
<part name="parameters" element="tns:aggiornaViaggio"/>
</message>
<message name="aggiornaViaggioResponse">
<part name="parameters" element="tns:aggiornaViaggioResponse"/>
</message>
<message name="cercaId">
<part name="parameters" element="tns:cercaId"/>
</message>
<message name="cercaIdResponse">
<part name="parameters" element="tns:cercaIdResponse"/>
</message>
<message name="cercaCategoria">
<part name="parameters" element="tns:cercaCategoria"/>
</message>
<message name="cercaCategoriaResponse">
<part name="parameters" element="tns:cercaCategoriaResponse"/>
</message>
<message name="cercaDestinazione">
<part name="parameters" element="tns:cercaDestinazione"/>
</message>
<message name="cercaDestinazioneResponse">
<part name="parameters" element="tns:cercaDestinazioneResponse"/>
</message>
<message name="tuttiIViaggi">
<part name="parameters" element="tns:tuttiIViaggi"/>
</message>
<message name="tuttiIViaggiResponse">
<part name="parameters" element="tns:tuttiIViaggiResponse"/>
</message>
<message name="aggiungiViaggio">
<part name="parameters" element="tns:aggiungiViaggio"/>
</message>
<message name="aggiungiViaggioResponse">
<part name="parameters" element="tns:aggiungiViaggioResponse"/>
</message>
<message name="rimuoviViaggio">
<part name="parameters" element="tns:rimuoviViaggio"/>
</message>
<message name="rimuoviViaggioResponse">
<part name="parameters" element="tns:rimuoviViaggioResponse"/>
</message>
<message name="cercaPerPrezzo">
<part name="parameters" element="tns:cercaPerPrezzo"/>
</message>
<message name="cercaPerPrezzoResponse">
<part name="parameters" element="tns:cercaPerPrezzoResponse"/>
</message>
<portType name="ViaggioEJB">
<operation name="aggiornaViaggio">
<input wsam:Action="http://viaggiobean/ViaggioEJB/aggiornaViaggioRequest" message="tns:aggiornaViaggio"/>
<output wsam:Action="http://viaggiobean/ViaggioEJB/aggiornaViaggioResponse" message="tns:aggiornaViaggioResponse"/>
</operation>
<operation name="cercaId">
<input wsam:Action="http://viaggiobean/ViaggioEJB/cercaIdRequest" message="tns:cercaId"/>
<output wsam:Action="http://viaggiobean/ViaggioEJB/cercaIdResponse" message="tns:cercaIdResponse"/>
</operation>
<operation name="cercaCategoria">
<input wsam:Action="http://viaggiobean/ViaggioEJB/cercaCategoriaRequest" message="tns:cercaCategoria"/>
<output wsam:Action="http://viaggiobean/ViaggioEJB/cercaCategoriaResponse" message="tns:cercaCategoriaResponse"/>
</operation>
<operation name="cercaDestinazione">
<input wsam:Action="http://viaggiobean/ViaggioEJB/cercaDestinazioneRequest" message="tns:cercaDestinazione"/>
<output wsam:Action="http://viaggiobean/ViaggioEJB/cercaDestinazioneResponse" message="tns:cercaDestinazioneResponse"/>
</operation>
<operation name="tuttiIViaggi">
<input wsam:Action="http://viaggiobean/ViaggioEJB/tuttiIViaggiRequest" message="tns:tuttiIViaggi"/>
<output wsam:Action="http://viaggiobean/ViaggioEJB/tuttiIViaggiResponse" message="tns:tuttiIViaggiResponse"/>
</operation>
<operation name="aggiungiViaggio">
<input wsam:Action="http://viaggiobean/ViaggioEJB/aggiungiViaggioRequest" message="tns:aggiungiViaggio"/>
<output wsam:Action="http://viaggiobean/ViaggioEJB/aggiungiViaggioResponse" message="tns:aggiungiViaggioResponse"/>
</operation>
<operation name="rimuoviViaggio">
<input wsam:Action="http://viaggiobean/ViaggioEJB/rimuoviViaggioRequest" message="tns:rimuoviViaggio"/>
<output wsam:Action="http://viaggiobean/ViaggioEJB/rimuoviViaggioResponse" message="tns:rimuoviViaggioResponse"/>
</operation>
<operation name="cercaPerPrezzo">
<input wsam:Action="http://viaggiobean/ViaggioEJB/cercaPerPrezzoRequest" message="tns:cercaPerPrezzo"/>
<output wsam:Action="http://viaggiobean/ViaggioEJB/cercaPerPrezzoResponse" message="tns:cercaPerPrezzoResponse"/>
</operation>
</portType>
<binding name="ViaggioEJBPortBinding" type="tns:ViaggioEJB">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="aggiornaViaggio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaCategoria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaDestinazione">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tuttiIViaggi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aggiungiViaggio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rimuoviViaggio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cercaPerPrezzo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ViaggioEJBService">
<port name="ViaggioEJBPort" binding="tns:ViaggioEJBPortBinding">
<soap:address location="http://localhost:8080/ViaggioEJBService/ViaggioEJB"/>
</port>
</service>
</definitions>