ESPOSITOPASQUALE_CLIENT_WS/src/META-INF/wsdl/localhost_8080/ViaggioEJBService/ViaggioEJB.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://viaggiobean/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://viaggiobean/">

<xs:element name="aggiornaViaggio" type="tns:aggiornaViaggio"/>

<xs:element name="aggiornaViaggioResponse" type="tns:aggiornaViaggioResponse"/>

<xs:element name="aggiungiViaggio" type="tns:aggiungiViaggio"/>

<xs:element name="aggiungiViaggioResponse" type="tns:aggiungiViaggioResponse"/>

<xs:element name="cercaCategoria" type="tns:cercaCategoria"/>

<xs:element name="cercaCategoriaResponse" type="tns:cercaCategoriaResponse"/>

<xs:element name="cercaDestinazione" type="tns:cercaDestinazione"/>

<xs:element name="cercaDestinazioneResponse" type="tns:cercaDestinazioneResponse"/>

<xs:element name="cercaId" type="tns:cercaId"/>

<xs:element name="cercaIdResponse" type="tns:cercaIdResponse"/>

<xs:element name="cercaPerPrezzo" type="tns:cercaPerPrezzo"/>

<xs:element name="cercaPerPrezzoResponse" type="tns:cercaPerPrezzoResponse"/>

<xs:element name="rimuoviViaggio" type="tns:rimuoviViaggio"/>

<xs:element name="rimuoviViaggioResponse" type="tns:rimuoviViaggioResponse"/>

<xs:element name="tuttiIViaggi" type="tns:tuttiIViaggi"/>

<xs:element name="tuttiIViaggiResponse" type="tns:tuttiIViaggiResponse"/>

<xs:complexType name="cercaId">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:viaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viaggio">
<xs:sequence>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
<xs:element name="destinazione" type="xs:string" minOccurs="0"/>
<xs:element name="disponibilita" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="pacchetti" type="xs:int"/>
<xs:element name="prezzo" type="xs:float"/>
<xs:element name="sconto" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiungiViaggio">
<xs:sequence>
<xs:element name="arg0" type="tns:viaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiungiViaggioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="tuttiIViaggi">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="tuttiIViaggiResponse">
<xs:sequence>
<xs:element name="return" type="tns:viaggio" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaCategoria">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaCategoriaResponse">
<xs:sequence>
<xs:element name="return" type="tns:viaggio" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaPerPrezzo">
<xs:sequence>
<xs:element name="arg0" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaPerPrezzoResponse">
<xs:sequence>
<xs:element name="return" type="tns:viaggio" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaDestinazione">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cercaDestinazioneResponse">
<xs:sequence>
<xs:element name="return" type="tns:viaggio" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rimuoviViaggio">
<xs:sequence>
<xs:element name="arg0" type="tns:viaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rimuoviViaggioResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="aggiornaViaggio">
<xs:sequence>
<xs:element name="arg0" type="tns:viaggio" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aggiornaViaggioResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>